@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 100% 94.1%;
    --foreground: 24 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 24 10% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 24 10% 20%;
    --primary: 39 100% 50%;
    --primary-foreground: 36 100% 10%;
    --secondary: 36 100% 88%;
    --secondary-foreground: 24 10% 20%;
    --muted: 36 100% 90%;
    --muted-foreground: 24 10% 45%;
    --accent: 40 100% 65.1%;
    --accent-foreground: 36 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 36 100% 88%;
    --input: 36 100% 88%;
    --ring: 39 100% 50%;
    --chart-1: 39 100% 50%;
    --chart-2: 40 100% 65.1%;
    --chart-3: 36 100% 88%;
    --chart-4: 24 10% 20%;
    --chart-5: 24 10% 45%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 24 10% 10%;
    --foreground: 36 100% 94.1%;
    --card: 24 10% 15%;
    --card-foreground: 36 100% 94.1%;
    --popover: 24 10% 10%;
    --popover-foreground: 36 100% 94.1%;
    --primary: 39 100% 50%;
    --primary-foreground: 36 100% 10%;
    --secondary: 24 10% 20%;
    --secondary-foreground: 36 100% 94.1%;
    --muted: 24 10% 20%;
    --muted-foreground: 36 100% 80%;
    --accent: 40 100% 65.1%;
    --accent-foreground: 36 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 10% 20%;
    --input: 24 10% 20%;
    --ring: 39 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
}
